
.userCreatedStoryPageContainer{
    padding: 1rem 3rem;

    }
/* Extra small devices (phones, 0px and up) */
.userCreatedStoryContainer{
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
.userCreatedStoryContainer>div{
  
  color: #FF7373;
  font-size: var(--fs-4);
  font-weight: var(--fs-bold);
}
.userCreatedStoryContainer>div>button{
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  gap: 1rem;
  background-color: #FF7373;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 10px;
  font-weight: var(--fs-bold);
}
.userCreatedStoryContainer>div>img{
  width: 80%;
}
  